<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

    <script>
      function hey() {
        $.ajax({
          type: 'POST',
          url: '/test',
          data: { title_give: '봄날은간다' },
          success: function (response) {
            console.log(response['msg']);
          },
        });
      }
    </script>
  </head>
  <body>
    <button onclick="hey()">나는 버튼!</button>
  </body>
</html>
