* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}
/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}
/* Landing */
.landing {
  background-color: #fdded8;
  text-align: center;
}
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.landing-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  padding-bottom: 24px;
}
.landing-desc {
  padding-bottom: 24px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  font-weight: 700;
  border-radius: 2px;
  background-color: #3040c4;
  color: #fff;
  transition: opacity 200ms ease-in-out;
}
.fill-button:hover {
  opacity: 0.7;
}

.button-wrapper > .fill-button:first-child {
  margin-right: 8px;
}
.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}
/* Service */
.service {
  background-color: #f4f5f7;
  padding: 80px 0;
}
.service-title {
  font-size: 22px;
  line-height: 1.363636363636364;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}
.service .col-12:first-of-type {
  margin-bottom: 40px;
}
/* Section-program */
.section {
  padding: 80px 0;
}
.section-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #009b4d;
  margin-bottom: 8px;
}
.section-title {
  font-size: 34px;
  line-height: 1.058823529411765;
  letter-spacing: -0.03em;
  color: #2b292d;
  margin-bottom: 24px;
}
.section-desc {
  max-width: 770px;
  margin: auto;
}
.section__program .row:first-of-type {
  margin-bottom: 32px;
}
.section__program--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 1px 4px 4px #ccc;
  border-radius: 8px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.section__program--box:hover {
  background-color: #3040c4;
  color: #fff;
}
.section__program--img {
  margin: 24px 0 16px;
  height: 195px;
}
.section__program--img + h2 {
  font-size: 18px;
  line-height: 1.333333333333333;
  letter-spacing: -0.02em;
  padding-bottom: 32px;
}

/* Section-curriculum */
.section__curriculum .section-subtitle {
  color: #0189d1;
}
.section__curriculum--img {
  display: none;
  width: 100%;
  max-width: 450px;
  min-width: 450px;
  margin-bottom: 24px;
}
.section__curriculum .row:first-of-type .section-desc {
  margin-bottom: 32px;
}
.section__curriculum .fill-button {
  margin-bottom: 48px;
}
.section__curriculum .row:nth-of-type(2) .col-12:first-child {
  margin-bottom: 40px;
}

/* Subscription */
.subscription {
  text-align: center;
  background-color: #f2f8fa;
  padding: 40px 0;
}
.subscription-img {
  width: 100%;
  max-width: 290px;
  margin-bottom: 16px;
  padding: 25px 49px;
}
.subscription-title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
.subsription-desc {
  margin-bottom: 24px;
}
.subsription-desc + form input {
  width: 290px;
  padding: 12px 16px;
  border: none;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.formbtn.fill-button {
  width: 290px;
  margin-bottom: 8px;
}
.subsription-desc + form + p {
  font-size: 13px;
  line-height: 1.538461538461538;
  color: #7b7b7e;
}
.subsription-desc + form + p a {
  color: #3040c4;
  text-decoration: underline;
}
/* Footer */
.footer {
  padding: 24px 0;
}
.footer .col-12 {
  font-size: 14px;
  line-height: 1.714285714285714;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: #807f81;
}
/* >= 768px (Dexktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.36363636;
  }
  /* landing */
  .landing-content {
    padding: 120px 0;
    height: auto;
  }
  .landing-title {
    font-size: 70px;
    line-height: 1.028571428571429;
    letter-spacing: -0.05em;
    margin-bottom: 32px;
  }
  landing-desc {
    margin-bottom: 32px;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555555556;
    margin-right: 16px;
  }
  .button-wrapper > .fill-button:first-child {
    margin-right: 16px;
  }
  /* Service */
  .service {
    background-color: #f4f5f7;
    padding: 80px 0;
  }
  .service-title {
    font-size: 26px;
    line-height: 1.307692307692308;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
  }
  .service .col-12:first-of-type {
    margin-bottom: 0;
  }
  /* Section-program */
  .section {
    padding-bottom: 96px;
  }
  .section__program {
    text-align: center;
  }
  .section-subtitle {
    font-size: 22px;
    line-height: 1.090909090909091;
    margin-bottom: 16px;
  }
  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }
  .section__program .row:first-of-type {
    margin-bottom: 72px;
  }
  .section__program--box {
    margin-bottom: 0;
  }
  .section__program--img + h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  .section__curriculum--img {
    display: inline-block;
  }
  .section__curriculum .row:first-of-type .section-desc {
    margin-bottom: 72px;
  }
  .section__curriculum .row:nth-of-type(2) .section-desc {
    font-size: 18px;
    line-height: 1.444444444444444;
  }
  /* Subscription */
  .subscription {
    text-align: left;
    padding: 80px 0;
  }
  .subscription-img {
    padding: 8px 83px 7px 0;
    margin: 0;
    max-width: 370px;
  }
  .col-md-7 {
    margin: 32px 0;
  }
  .subscription-title {
    font-size: 40px;
  }
  .subsription-desc + form {
    display: flex;
    margin-bottom: 4px;
  }
  .subsription-desc + form input {
    width: 362px;
    margin-right: 4px;
  }
  .formbtn.fill-button {
    width: 160px;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
